<h1>Login Returning User</h1>
<form action="/login" method="post">
  <label for="username">Enter your email for username: </label>
  <input id="username" type="text" name="username"> 
  {{!-- {{#if email}}
  <div>{{email}}</div>
  {{/if}} --}}

  <label for="password">Enter Password: </label>
  <input id="password" type="text" name="password">

  <button type="Submit">Submit</button>
</form>