<h1>Register New User</h1>
<form action="/register" method="post" enctype="application/x-www-form-urlencoded">
  <label for="username">Enter your email for username: </label>
  <input id="username" type="text" name="username"> 
  {{!-- {{#if email}}
  <div>{{email}}</div>
  {{/if}} --}}

  <label for="password">Create Password: </label>
  <input id="password" type="text" name="password">

  <button type="Submit">Submit</button>
</form>