body {
  font-family: 'Roboto', sans-serif;
  background-color: #fffff0;
  font-size: 12px;
  color: #a4a4a5; }

h1 {
  font-size: 60px;
  color: #686666;
  text-transform: uppercase; }

#header {
  display: flex; }

.header_text_cont {
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 10px;
  border-left: 1px solid #ddd;
  width: 275px; }

#menu_container {
  display: inline-block;
  text-decoration: none; }

a {
  text-decoration: none;
  font-size: 16px;
  color: #5f5f5f; }

li {
  display: inline-flex;
  text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer; }

#main_container {
  display: flex;
  border: 1px solid red;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  width: 960px;
  margin: auto; }

.photo h3 {
  display: flex;
  font-size: 13px;
  font-weight: normal;
  color: #a4a4a5; }

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.photo {
  float: left;
  width: 306px;
  margin: 10px 20px 1px 0; }

.photo img {
  width: 306px;
  height: 215px;
  opacity: 1.0;
  filter: alpha(opacity=100); }

.photo img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.photo h3 a {
  color: #a4a4a5;
  text-decoration: none; }

.photo h3 a:hover {
  color: #333; }
